# when I type head + <leader>tab, I hope...
snippet head "Hexo post header" b
---
layout: post
title: ${1:title}
guid: `!p
import uuid
if not snip.c:
  guid = uuid.uuid4().hex
snip.rv = guid
`
date: `!v strftime("%Y-%m-%d %H:%M:%S")`
category:
 - ${3}
tags:
 - ${4}
---
${0}
endsnippet
# vim:ft=snippets:
